.sticky-table-header-toolbar-tabs thead {
  position: sticky !important;
  z-index: 2;
  top: calc(var(--h-toolbar) + var(--h-tabs))
}

.sticky-table-header-tabs thead {
  position: sticky !important;
  z-index: 2;
  top: calc( 40px)
}

.sticky-table-header-toolbar-tabs-mobile thead {
  position: sticky !important;
  z-index: 2;
  top: calc(var(--h-toolbar))
}

.sticky-table-header-toolbar thead {
  position: sticky !important;
  z-index: 2;
  top: var(--h-toolbar)
}

.sticky-table-column-drawer .mat-mdc-table-sticky {
  left: var(--w-drawer) !important;
  will-change: transform; // otherwise border style is strange
}

.sticky-table-column-drawer-sm .mat-mdc-table-sticky {
  left: var(--w-drawer-sm) !important;
  will-change: transform;
}


.mat-mdc-cell .mat-mdc-form-field-infix {
  padding: 4px !important;
}

.mat-mdc-cell .mat-mdc-text-field-wrapper {
  height: 2rem !important;
}

@media (max-width: 900px) {
  .sticky-table-header-toolbar-tabs-mobile thead {
    position: sticky !important;
    z-index: 2;
    top: calc(var(--h-toolbar) + var(--h-tabs))
  }
}

tr.expanded-detail-row {
  height: 0;
}

.expanded-row td {
  border-bottom-width: 0;
}

.responsive-flex {
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .responsive-flex {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}