<app-navigation-sidebar name="Layout">
    <mat-nav-list>
        <a
            (click)="goTo('/layout/tabs/page1', 'Tabs')"
            [class.bg-secondary-container]="'tabs' | activeFeature"
            mat-list-item
        >
                        <span [class.font-medium]="'tabs' | activeFeature" class="text-sm"
                              mat-line>Tabs Navigation</span>


        </a>
        <a
            (click)="goTo('layout/scroll', 'Scroll')"
            [class.bg-secondary-container]="'scroll' | activeFeature"
            mat-list-item
        >

                        <span [class.font-medium]="'scroll' | activeFeature" class="text-sm"
                              mat-line>Scroll Navigation</span>
        </a>
        <a
            (click)="goTo('layout/mobile', 'Mobile')"
            [class.bg-secondary-container]="'mobile' | activeFeature"
            mat-list-item
        >
                        <span [class.font-medium]="'mobile' | activeFeature" class="text-sm"
                              mat-line>Mobile Preview</span>
        </a>
    </mat-nav-list>
    <button mat-stroked-button>
        <mat-icon>dashboard_customize</mat-icon>
        Layout Button
    </button>
    <button mat-stroked-button>
        <mat-icon>dashboard_customize</mat-icon>
        Layout Button 2
    </button>
</app-navigation-sidebar>


<div class="fixed visible-mobile bottom-4 right-8 z-10 sidebar-content" [@slideRightToLeft]>
    <button [matMenuTriggerFor]="menu" aria-label="Example mini-fab" mat-fab>
        <mat-icon>dashboard_customize</mat-icon>
    </button>
    <mat-menu #menu>
        <button mat-menu-item>
            <mat-icon>dashboard_customize</mat-icon>
            Layout Button
        </button>
        <button mat-menu-item>
            <mat-icon>dashboard_customize</mat-icon>
            Layout Button 2
        </button>
    </mat-menu>
</div>

<div class=" pl-drawer ">

    <router-outlet></router-outlet>

</div>
