<button [disabled]="imageUrl() === null" #trigger="cdkOverlayOrigin" (click)="toggleOverlay()" cdkOverlayOrigin mat-icon-button type="button">
    <mat-icon>image</mat-icon>
</button>

<ng-template
        [cdkConnectedOverlayOpen]="isOpen"
        [cdkConnectedOverlayOrigin]="trigger"
        
        cdkConnectedOverlay
>
    <div #overlayPane
         class="bg-surface-container overlay-elevation corner-l flex items-center justify-center page-load-animation top-overlay">
        <app-image  [caption]="itemName()" [fileUrl]="firebaseFileUrl()" [style.max-width]="'250px'"
                   
                   class="flex-grow"></app-image>
    </div>
</ng-template>

