<div cdkScrollable class="max-w-3xl m-auto p-4">
    <!-- Form -->
    <form #formAutoFocus="appFormAutoFocus" (keydown.enter)="$event.preventDefault()"
          (ngSubmit)="submit(); formAutoFocus.focus()"
          [formGroup]="form" appFormAutoFocus class="flex flex-col gap-4">

        <app-card [titleCard]="true" title="Form Title"></app-card>

        <app-card title="Inputs Section">
            <div class="flex flex-col gap-4">
                <!-- Text Input -->
                <mat-form-field class="max-w-md">
                    <mat-label>Input 1</mat-label>
                    <input formControlName="input1" inputmode="text" matInput type="text">
                    @if (form.controls.input1.hasError('required')) {
                        <mat-error>Input 1 is required</mat-error>
                    }
                </mat-form-field>

                <!-- Number Input -->
                <mat-form-field class="max-w-xl">
                    <mat-label>Input 2</mat-label>
                    <input formControlName="input2" inputmode="numeric" matInput type="number">
                    @if (form.controls.input2.hasError('required')) {
                        <mat-error>Input 2 is required</mat-error>
                    }
                </mat-form-field>
                <!-- Autocomplete Input -->
                <div>
                    <mat-form-field>
                        <mat-label>Autocomplete</mat-label>
                        <input [matAutocomplete]="auto"
                               aria-label="Number"
                               formControlName="autocomplete"
                               matInput
                               placeholder="Pick one"
                               type="text">
                        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                            @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{ option }}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </app-card>
        <app-card title="Selects Section">
            <div class="flex flex-col gap-4">
                <!-- Select -->
                <div>

                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="select">
                            @for (option of selectOptions(); track option) {
                                <mat-option [value]="option">{{ option }}</mat-option>
                            } @empty {
                                <mat-option disabled>No Options</mat-option>
                            }

                        </mat-select>
                        @if (form.controls.select.hasError('required')) {
                            <mat-error>Select is required</mat-error>
                        }
                    </mat-form-field>
                    <button (click)="openDialog()" class="visible-desktop-flex relative  ml-2" mat-button
                            type="button">Add
                        <mat-icon>add</mat-icon>
                    </button>


                    <button (click)="openDialog()" class="ml-2 visible-mobile-inline" mat-icon-button type="button">
                        <mat-icon>add</mat-icon>
                    </button>


                </div>
                <!-- Multiple Select -->
                <div class="flex flex-col">
                    <mat-form-field>
                        <mat-label>Multiple Select</mat-label>
                        <mat-select formControlName="multipleSelect" multiple>
                            <mat-select-trigger>
                                {{ form.controls.multipleSelect.value?.[0] || '' }}
                                @if ((form.controls.multipleSelect.value?.length || 0) > 1) {
                                    <span class="example-additional-selection">
          (+{{ (form.controls.multipleSelect.value?.length || 0) - 1 }} {{ form.controls.multipleSelect.value?.length === 2 ? 'other' : 'others' }}
                                        )
        </span>
                                }
                            </mat-select-trigger>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                            <mat-option value="three">Third option</mat-option>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                            <mat-option value="three">Third option</mat-option>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                            <mat-option value="three">Third option</mat-option>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                            <mat-option value="three">Third option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Datepicker -->
                <div>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input [matDatepicker]="picker" formControlName="date" matInput>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (form.controls.date.hasError('required')) {
                            <mat-error>Date is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </app-card>
        <app-card title="Checkables Section">
            <div class="flex flex-col gap-4">
                <!-- Checkbox Group -->
                <div>
                    <div class="text-lg">Checkbox Group</div>
                    <section formGroupName="checkboxes">
                        <mat-checkbox class="mr-4" formControlName="checkbox1">Check me!</mat-checkbox>
                        <mat-checkbox class="mr-4" formControlName="checkbox2">Check me!</mat-checkbox>
                        <mat-checkbox class="mr-4" formControlName="checkbox3">Check me!</mat-checkbox>
                    </section>
                </div>
                <!-- Radio Group -->
                <div>
                    <div class="text-lg">Radio Group</div>
                    <mat-radio-group aria-label="Select an option" class="" formControlName="radio">
                        <mat-radio-button class="mr-4" value="1">No error</mat-radio-button>
                        <mat-radio-button class="mr-4" value="2">Show Error</mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- Checkbox List -->
                <div>
                    <div class="text-lg">Checkbox List</div>
                    <mat-selection-list formControlName="checkboxList">
                        <mat-list-option value="option1">Option 1</mat-list-option>
                        <mat-list-option value="option2">Option 2</mat-list-option>
                        <mat-list-option value="option3">Option 3</mat-list-option>
                    </mat-selection-list>
                </div>
                <!-- Radio List -->
                <div>
                    <div class="text-lg">Radio List</div>
                    <mat-selection-list [multiple]="false" formControlName="radioList">
                        <mat-list-option value="option1">Option 1</mat-list-option>
                        <mat-list-option value="option2">Option 2</mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </app-card>
        <app-card title="Special Section">
            <div class="flex flex-col gap-4">
                <!-- Text Area -->
                <div class="flex flex-col">
                    <mat-form-field>
                        <mat-label>Textarea</mat-label>
                        <textarea [cdkTextareaAutosize] formControlName="textarea" matInput rows="5"></textarea>
                        @if (form.controls.textarea.hasError('required')) {
                            <mat-error>Textarea is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <!-- Range -->
                <div class="flex flex-col">
                    <div class="text-lg ">Select Range</div>
                    <mat-slider discrete formGroupName="range" max="500" min="0" showTickMarks>
                        <input formControlName="range1" matSliderStartThumb>
                        <input formControlName="range2" matSliderEndThumb>
                    </mat-slider>
                </div>
                <!-- Required Checkbox -->
                <div>
                    <mat-checkbox formControlName="requiredCheckbox" labelPosition="after">Required Checkbox
                    </mat-checkbox>
                    <div class="pl-4 pr-2">
                        @if (form.controls.requiredCheckbox.hasError('required') && !form.controls.requiredCheckbox.untouched) {
                            <app-form-error>Checkbox is required</app-form-error>
                        } @else {
                            <app-form-error-placeholder></app-form-error-placeholder>
                        }
                    </div>
                </div>
            </div>
        </app-card>

        <app-form-buttons>
            <button [class.shake]="shake()" [class.spinner]="loading()" [disabled]="loading()"
                    mat-flat-button type="submit">Submit
            </button>
        </app-form-buttons>
    </form>
</div>