<app-toolbar class="w-full-minus-drawer-sm" featureName="Analytics"></app-toolbar>
<div class="pt-toolbar">
    @if(loading()) {
        <app-feature-loading-page></app-feature-loading-page>
    } @else {
        <!--        <div>{{itemAccesses() | json}}</div>-->

        <div class="p-page gap-6 flex flex-col page-load-animation">


            <!-- Item Interaction Chart -->
            <app-card appearance="raised" class="max-w-rectangle-chart-card" cardTitle="Most Popular Items">
                <app-advanced-chart-container>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Time Period</mat-label>
                        <mat-select (valueChange)="itemTimePeriodChange($event)" [value]="itemTimePeriod()">
                            <mat-option value="All Time">All Time</mat-option>
                            <mat-option value="Today">Today</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Interaction Type</mat-label>
                        <mat-select (valueChange)="itemInteractionTypeChange($event)" [value]="itemInteractionType()">
                            <mat-option value="All Types">All Types</mat-option>
                            <mat-option value="View Details">View Details</mat-option>
                            <mat-option value="Add to Favorites">Add to Favorites</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--                <button (click)="openInsightsDialog()" mat-stroked-button>-->
                    <!--                    <mat-icon>lightbulb_2</mat-icon>AI Insights-->
                    <!--                </button>-->

                    <app-item-chart [itemChartData]="itemInteractionData()" chart></app-item-chart>

                </app-advanced-chart-container>
            </app-card>

        <!-- Item Interactions By Hour Of Day Chart -->
        <app-card appearance="raised" class="max-w-rectangle-chart-card" cardTitle="Item Interactions By Hour Of Day">
            <app-advanced-chart-container>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Time Period</mat-label>
                    <mat-select (valueChange)="hourlyTimePeriodChange($event)" [value]="hourlyTimePeriod()">
                        <mat-option value="All Time">All Time</mat-option>
                        <mat-option value="Today">Today</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Interaction Type</mat-label>
                    <mat-select (valueChange)="hourlyInteractionTypeChange($event)" [value]="hourlyInteractionType()">
                        <mat-option value="All Types">All Types</mat-option>
                        <mat-option value="View Details">View Details</mat-option>
                        <mat-option value="Add to Favorites">Add to Favorites</mat-option>
                    </mat-select>
                </mat-form-field>

                <!--                <button (click)="openInsightsDialog()" mat-stroked-button>-->
                <!--                    <mat-icon>lightbulb_2</mat-icon>AI Insights-->
                <!--                </button>-->

                <app-hour-chart [hourlyData]="hourlyData()" chart></app-hour-chart>

            </app-advanced-chart-container>
        </app-card>

            <!-- Category Interaction Chart -->
            <app-card appearance="raised" class="max-w-rectangle-chart-card" cardTitle="Most Popular Categories">
                <app-advanced-chart-container>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Time Period</mat-label>
                        <mat-select (valueChange)="categoryTimePeriodChange($event)" [value]="categoryTimePeriod()">
                            <mat-option value="All Time">All Time</mat-option>
                            <mat-option value="Today">Today</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Interaction Type</mat-label>
                        <mat-select (valueChange)="categoryInteractionTypeChange($event)" [value]="categoryInteractionType()">
                            <mat-option value="All Types">All Types</mat-option>
                            <mat-option value="View Details">View Details</mat-option>
                            <mat-option value="Add to Favorites">Add to Favorites</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--                <button (click)="openInsightsDialog()" mat-stroked-button>-->
                    <!--                    <mat-icon>lightbulb_2</mat-icon>AI Insights-->
                    <!--                </button>-->

                    <app-category-chart  [categoryChartData]="categoryInteractionData()" chart></app-category-chart>
                </app-advanced-chart-container>
            </app-card>

        </div>

    }

</div>