<h2 mat-dialog-title>Edit Category</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="flex flex-col gap-4">
        <mat-form-field class="w-full ">
            <mat-label>Category Name</mat-label>
            <input formControlName="name" inputmode="text" matInput type="text">
            @if (form.controls.name.hasError('required')) {
                <mat-error>Category Name is required</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea [cdkTextareaAutosize] formControlName="description" matInput rows="3"></textarea>
        </mat-form-field>
    </form>


</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Cancel</button>
    <button (click)="onSubmit()" [class.spinner]="loading()" [disabled]="loading()" mat-button>Edit</button>
</mat-dialog-actions>