<app-toolbar [navigationVisible]="!spinner()" class="w-full-minus-drawer-sm " featureName="Table">

    <ng-container *ngTemplateOutlet="tabs" toolbar-navigation>
    </ng-container>

    <ng-container *ngTemplateOutlet="tabs" toolbar-mobile-navigation>
    </ng-container>

    <div class="visible-desktop-flex flex gap-4 text-primary ">
        <!-- Reset Data -->
        <button (click)="resetData()" [class.spinner]="resetDataSpinner()"
                [disabled]="resetDataSpinner() || spinner()" mat-stroked-button>
            <mat-icon>history</mat-icon>
            Reset
        </button>
        <!-- Import/Export Data -->
        <button (click)="importTable()" [disabled]="spinner()" mat-stroked-button>
            <mat-icon>publish</mat-icon>
            Import
        </button>
        <button [disabled]="spinner()" [matMenuTriggerFor]="exportMenu" mat-stroked-button>
            <mat-icon>download</mat-icon>
            Export
        </button>
    </div>
    <div class="visible-mobile">
        <!-- Reset Data -->
        <button [class.spinner]="resetDataSpinner()" [disabled]="resetDataSpinner() || spinner()"
                [matMenuTriggerFor]="resetMenu" mat-icon-button>
            <mat-icon>history</mat-icon>
        </button>
        <mat-menu #resetMenu="matMenu" class="top-overlay">
            <button (click)="resetData()" mat-menu-item>Reset Data</button>
        </mat-menu>
        <!-- Import/Export Data -->
        <button (click)="importTable()" [disabled]="spinner()" mat-icon-button>
            <mat-icon>publish</mat-icon>
        </button>
        <button [disabled]="spinner()" [matMenuTriggerFor]="exportMenu" mat-icon-button>
            <mat-icon>download</mat-icon>
        </button>
        <mat-menu #exportMenu="matMenu" class="top-overlay">
            <button (click)="exportTable()" mat-menu-item>Export to Excel</button>
        </mat-menu>
    </div>
</app-toolbar>

<!-- Sidebar content needed for making sure it slides in/out -->
<div class="pt-toolbar sidebar-content">
    <mat-tab-nav-panel #tabPanel>
        @if (!(spinner())) {
            <div class="pt-tabs-mobile">
                <router-outlet></router-outlet>
            </div>
        }
        @if ((spinner())) {
            <app-feature-loading-page></app-feature-loading-page>
        }
    </mat-tab-nav-panel>
</div>


<ng-template #tabs>
    <nav [@fadeIn] [tabPanel]="tabPanel" fitInkBarToContent mat-align-tabs="start" mat-stretch-tabs="true"
         mat-tab-nav-bar>
        <a (click)="goTo('/table/elements')"
           [active]="'elements' | activeFeature"
           mat-tab-link
        >Elements</a>
        <a (click)="goTo('/table/categories')"
           [active]="'categories' | activeFeature"
           mat-tab-link
        >Categories</a>
    </nav>
</ng-template>