<div [@pageLoad] [style.width]="tableWidth">
    <!-- Table tools -->
    <div class="pt-4 pl-page pr-4 flex-col inline-block sticky left-drawer-sm">
        <div class="flex responsive-flex">
            <!-- Search -->
            <mat-form-field class="mr-4">
                <mat-label>Search</mat-label>
                <input (keyup)="applySearchFilter($event)"
                       [formControl]="searchFilterFormControl"
                       [matAutocomplete]="auto"
                       aria-label="Number"
                       matInput
                       type="text">
                @if (searchFilterFormControl.value) {
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchFilter($event)">
                        <mat-icon>close</mat-icon>
                    </button>
                } @else {
                    <button matSuffix class="invisible" mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                }
                <mat-icon matPrefix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="applySearchFilterSelect($event)"
                                  autoActiveFirstOption>
                    @for (option of visibleSearchFilterOptions(); track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

        </div>
        <div class="flex responsive-flex gap-4">
            <div class="flex gap-4">
                <!-- Add Item -->
                <button (click)="openAddModal()" mat-flat-button>
                    <mat-icon>add</mat-icon>
                    Add
                </button>
            </div>
        </div>
        <!-- Paginator -->
        <div class="inline-block sticky left-drawer-sm self-center mt-4">
            <mat-paginator [pageSizeOptions]="[25, 10, 5]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>

    <!-- Table -->
    <!-- Use class .sticky-table-header-toolbar-tabs if we also have tabs in the parent page -->
    <div class="sticky-table-header-toolbar-tabs-mobile">
        <table [dataSource]="dataSource" [trackBy]="trackByFn" id="table2" mat-table matSort multiTemplateDataRows>
            <!-- Sticky Column -->
            <ng-container matColumnDef="name" sticky>
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
                <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="totalElements">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Total Elements</th>
                <td *matCellDef="let element" mat-cell> {{ element.totalElements }}</td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element" mat-cell>
                    <div class="flex justify-end">
                        <button (click)="openEditModal(element.original); $event.stopPropagation()"
                                mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            (click)="openDeleteModal(element.original, element.totalElements); $event.stopPropagation()"
                            mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>


            <!-- Columns -->
            <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
            <!-- Rows -->
            <!-- Normal Rows -->
            <tr *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row"
                mat-row
            >
            </tr>
        </table>
    </div>
</div>
