
<div class="flex flex-col gap-2 items-center pt-2 pl-2 pr-2 w-full h-full relative z-2000 left-0  ">
    <app-icon-button
        (click)="goTo(routeUrl)"
        [class.bg-secondary-container]="'home' | activeFeature"
        class="w-full"
        icon="home"
        label="Home"
    ></app-icon-button>
  <app-icon-button
    (click)="goTo(routeUrl + '/menu/food')"
    [class.bg-secondary-container]="'menu' | activeFeature"
    class="w-full"
    icon="menu_book"
    label="Menu"
  ></app-icon-button>

<!--    <app-icon-button-->
<!--        (click)="goTo('/basic/form')"-->
<!--        [class.bg-secondary-container]="'basic' | activeFeature"-->
<!--        class="w-full"-->
<!--        icon="edit_square"-->
<!--        label="Basic"-->
<!--    ></app-icon-button>-->

<!--    <app-icon-button-->
<!--        (click)="goTo('/table/elements')"-->
<!--        [class.bg-secondary-container]="'table' | activeFeature"-->
<!--        class="w-full"-->
<!--        icon="table_view"-->
<!--        label="Table"-->
<!--    ></app-icon-button>-->

    <app-icon-button
            (click)="goTo(routeUrl + '/chat')"
            [class.bg-secondary-container]="'chat' | activeFeature"
            class="w-full"
            icon="robot_2"
            label="AI Chat"
    ></app-icon-button>
    
<!--    <app-icon-button-->
<!--        (click)="goTo('/analytics')"-->
<!--        [class.bg-secondary-container]="'analytics' | activeFeature"-->
<!--        class="w-full"-->
<!--        icon="analytics"-->
<!--        label="Analytics"-->
<!--    ></app-icon-button>-->

    <app-icon-button
            (click)="goTo(routeUrl + '/review')"
            [class.bg-secondary-container]="'review' | activeFeature"
            class="w-full"
            icon="rate_review"
            label="Review"
    ></app-icon-button>

<!--    <app-icon-button-->
<!--        (click)="goTo('/layout/tabs/page1')"-->
<!--        [class.bg-secondary-container]="'layout' | activeFeature"-->
<!--        class="w-full"-->
<!--        icon="dashboard"-->
<!--        label="Layout"-->
<!--    ></app-icon-button>-->

<!--    <app-icon-button-->
<!--        (click)="goTo('/debug')"-->
<!--        [class.bg-secondary-container]="'debug' | activeFeature"-->
<!--        class="w-full"-->
<!--        icon="bug_report"-->
<!--        label="Debug"-->
<!--    ></app-icon-button>-->




<!--    <div class="mt-auto justify-self-end mb-4 flex flex-col gap-4 w-full">-->
<!--        <app-icon-button-->
<!--            (click)="goTo('/settings/general')"-->
<!--            [class.bg-secondary-container]="'settings' | activeFeature"-->
<!--            class="w-full"-->
<!--            icon="settings"-->
<!--            label="Settings"-->
<!--        ></app-icon-button>-->
<!--    </div>-->


</div>


