<h2 mat-dialog-title>Delete "{{ data.category.name }}"?</h2>
<mat-dialog-content>
    <div>Are you sure you want to delete <span class="font-medium">{{ data.category.name }}</span>?</div>
    <div>All associated elements <span class="font-medium">({{ data.totalItems }})</span> will also be deleted</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>No Thanks</button>
    <button (click)="onDelete(data.category.id)" [class.spinner]="loading()" [disabled]="loading()" mat-button>
        Delete
    </button>
</mat-dialog-actions>

