<app-toolbar class="visible-desktop w-full-minus-drawer-sm-drawer" featureName="Preferences">

</app-toolbar>
<div [@pageLoad] class="p-page max-w-page responsive-page">
    <app-card appearance="raised" title="Subscription">
        <ul>
            <li>Details about Subscription</li>
            <li>Upgrade/Unsubscribe</li>
        </ul>
    </app-card>
    <app-card appearance="raised" title="Billing Address">
        Details for bills
    </app-card>
    <app-card appearance="raised" title="Email Recipient">
        The email to which bills will be sent
    </app-card>
    <!--    <div class="mb-8">-->
    <!--        <div class="text-xl border-b-2 pb-2 border-color">Subscription</div>-->
    <!--        <div class="p-4">Details</div>-->
    <!--        <div class="p-4">Upgrade/Unsubscribe</div>-->
    <!--    </div>-->
    <!--    <div class="mb-8">-->
    <!--        <div class="text-xl border-b-2 pb-2 border-color">Email Recipient</div>-->
    <!--        <div class="pt-2 pb-2">All billing correspondence will go to this email</div>-->
    <!--        <div class="p-4">Edit Email</div>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--        <div class="text-xl border-b-2 pb-2 border-color">Billing Address</div>-->
    <!--        <div class="p-4">Edit Billing Address</div>-->
    <!--    </div>-->

</div>

