<div [@pageLoad] class="p-page max-w-page-variant">
    <div class="mb-4 text-2xl">
        Page 3
    </div>
    <div class="whitespace-pre-wrap">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim ut vel
        velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus porttitor, eu
        molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus. Vivamus vel odio sit amet
        nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis non. Mauris augue sem, tincidunt
        nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        placerat dolor eget dui ullamcorper sollicitudin.
        <br>
        <br>

        Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in nunc est. In
        luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum metus vitae, finibus
        diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi quis dolor tincidunt ornare
        vel a velit.
        <br>
        <br>
        Suspendisse metus augue, maximus vel malesuada a, placerat ac ante. Pellentesque vulputate dui a libero mollis
        ornare. Fusce consectetur sollicitudin nulla quis scelerisque. Maecenas massa augue, tempor quis turpis non,
        interdum egestas magna. Donec nisi dui, imperdiet eget ligula eget, scelerisque condimentum nisl. Sed suscipit
        et mauris vel egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nunc luctus, ante eget convallis porttitor, ligula nisl placerat augue, et lacinia orci lectus eget nibh.
        Quisque ullamcorper vitae odio in tincidunt. Maecenas suscipit sollicitudin sodales. Morbi elit odio, porta non
        imperdiet sed, cursus nec felis. Quisque vitae feugiat purus, pulvinar commodo lacus. Mauris nulla leo, blandit
        in elit id, auctor pulvinar nibh. Pellentesque luctus, sapien ornare iaculis gravida, nibh tortor porta augue,
        ut dapibus nisi augue sed orci. Fusce vitae diam tellus. Vestibulum ultricies eros libero, sed consectetur diam
        pretium sed.
        <br>
        <br>
        Vivamus fermentum purus ornare ligula eleifend lacinia. Aenean facilisis dictum mauris sed porttitor. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc consectetur vel nisi eget
        dictum. Morbi aliquet dapibus nunc, a egestas nisl feugiat eget. Ut tortor nulla, sagittis sit amet nunc ac,
        aliquet semper ipsum. Integer ac sodales ex, ac tempus nisl. Aliquam commodo tincidunt dolor, at ullamcorper
        eros ornare nec. Donec non volutpat risus. Suspendisse porta varius sapien aliquet convallis. Nulla ut vehicula
        metus, nec condimentum ante. Suspendisse interdum, purus sit amet porta commodo, orci neque blandit risus, id
        blandit urna erat vitae justo. Suspendisse ipsum mauris, feugiat nec euismod vitae, tincidunt vitae est. Vivamus
        interdum massa ac risus suscipit, ut egestas ligula viverra.
        <br>
        <br>
        Nullam tincidunt lorem ac erat eleifend, in euismod augue tincidunt. Vestibulum nec maximus turpis. Nullam
        tincidunt augue elit, id volutpat odio posuere malesuada. Praesent non semper massa. In posuere urna et nibh
        viverra facilisis. Aenean porta ante quis nulla volutpat fermentum. Suspendisse vulputate, nulla et semper
        elementum, metus libero ultricies massa, in eleifend metus neque sit amet mi. Nunc consectetur magna neque, sed
        congue velit vestibulum ac. Proin eget rhoncus nisi, ut condimentum eros. Suspendisse volutpat, mauris sit amet
        consequat sodales, nisl neque aliquam sapien, vel ultrices metus velit ut nulla. Praesent mauris sem, aliquam
        quis felis ac, cursus imperdiet nisl. Vivamus porta sem vel lacinia laoreet. Pellentesque malesuada molestie ex,
        et dignissim augue eleifend non. In et nibh nec erat vestibulum accumsan at a justo.
    </div>


</div>