<app-toolbar class="w-full-minus-drawer-sm" featureName="Scroll Navigation">
    <ng-container *ngTemplateOutlet="nav" toolbar-navigation>
    </ng-container>
    <ng-container *ngTemplateOutlet="nav" toolbar-mobile-navigation>
    </ng-container>
</app-toolbar>

<div [@fadeIn] class="pt-toolbar sidebar-content">
    <div class="pt-tabs-mobile">
        <div class="p-page max-w-page-variant flex flex-col gap-6">
            <app-reposition-overlay></app-reposition-overlay>
            <app-card title="Section 1">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 2">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 3">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 4">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 5">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 6">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 7">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 8">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 9">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>
            <app-card title="Section 10">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi at magna molestie dignissim
                    ut
                    vel velit. Vivamus semper congue erat, sed bibendum ex vulputate sed. Duis eleifend nisi eu lacus
                    porttitor, eu molestie eros iaculis. Vivamus vel nibh vel tellus ultrices pulvinar ut vel lacus.
                    Vivamus
                    vel odio sit amet nisl scelerisque posuere. Aliquam congue mattis nunc, id venenatis nisi mattis
                    non.
                    Mauris augue sem, tincidunt nec risus eu, feugiat sollicitudin magna. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Mauris placerat dolor eget dui ullamcorper sollicitudin.
                    <br><br>
                    Nulla tempus elementum suscipit. Morbi a augue commodo, iaculis metus id, ornare nulla. Nulla in
                    nunc
                    est. In luctus sodales mi. Ut vulputate placerat tristique. Vestibulum ut est tincidunt, fermentum
                    metus
                    vitae, finibus diam. Integer commodo varius nisi, sed tempus erat vestibulum nec. Ut ultrices nisi
                    quis
                    dolor tincidunt ornare vel a velit.
                </div>
            </app-card>

        </div>
    </div>

</div>

<ng-template #nav>
    <app-scroll-navigation-button [matMenuTriggerFor]="menu" class="w-52"> {{ currentSection() }}
    </app-scroll-navigation-button>
    <mat-menu #menu="matMenu" class="top-overlay">
        <div class="max-h-52">
            @for (section of sections; track section) {
                <button mat-menu-item (click)="setSection(section)">{{ section }}</button>
            }
        </div>
    </mat-menu>
</ng-template>

