<div class="phone m-auto flex flex-col  pl-2 pr-2 pt-2 ">
    <div class="flex-grow overflow-auto preview">
        @if (loading()) {
            <div
                class="w-full h-full border border-color-variant preview flex items-center justify-center">
                <mat-spinner [diameter]="24"></mat-spinner>
            </div>
        }
        @if (showIFrame()) {
            <iframe
                [class.hidden]="loading()"
                (load)="stopLoading()"
                [src]="iframeUrl() | safeResource"
                style="width: 100%; height: 100%;"
                class="border border-color-variant preview"
                allowfullscreen>
            </iframe>
        }

    </div>
    @if(reloadVisible()) {
        <div (click)="reload()" class="m-auto pt-2 pb-2">
            <button class=" w-full m-auto" mat-flat-button>
                <mat-icon>refresh</mat-icon>
                Reload
            </button>
        </div>
    }

</div>
