<div class="h-full">
    <div class="max-w-4xl m-auto overflow-y-scroll h-messages" id="lateral-chat">
        <app-chat-messages (typingDone)="scrollDown()" [loadingMessage]="loadingMessage()" [messages]="sortedMessages()"
                           [newMessage]="newMessage()">
            <div class="flex flex-col gap-4 mt-48 items-center" empty-messages>

                <div class="text-4xl text-center">How can I help you?</div>
                <div>
                    <button (click)="sendFormattingQuestion()" mat-stroked-button>Check Response Formatting</button>
                </div>
            </div>

        </app-chat-messages>
    </div>
    <div>
        <app-chat-input (newMessage)="askQuestion($event)" (stopPrompt)="stopPrompt()"
                        [disabledStopButton]="!loadingMessage()"></app-chat-input>
    </div>
</div>
