<app-toolbar class="w-full-minus-drawer-sm-drawer" featureName="Details">

</app-toolbar>
<div class="p-page sidebar-content" [@pageLoad]>
    <div class="pt-toolbar responsive-page max-w-page">
        <div class="flex flex-col gap-6">
            <app-card appearance="raised" cardTitle="WiFi">
                <div card-button class="flex items-center gap-4">
                    <mat-slide-toggle (change)="updateWifiVisibility($event)"  [checked]="wifiVisible()" labelPosition="after">Visible</mat-slide-toggle>
                </div>
                <form [formGroup]="wifiForm" class="flex flex-col">
                    <div  class="flex gap-x-4 flex-wrap">
                        <mat-form-field class="flex-grow min-w-96">
                            <mat-label>Network Name</mat-label>
                            <input  type="text" formControlName="wifiNetworkName" matInput>
                            @if (wifiForm.controls.wifiNetworkName.hasError('required')) {
                                <mat-error>Network Name required</mat-error>
                            }
                        </mat-form-field >
                        <mat-form-field class="flex-grow min-w-96">
                            <mat-label>Password</mat-label>
                            <input  type="text" formControlName="wifiPassword" matInput>
                            @if (wifiForm.controls.wifiPassword.hasError('required')) {
                                <mat-error>Password required</mat-error>
                            }
                        </mat-form-field>
                    </div>


                    <div class="flex mt-4">
                        <button [disabled]="disabledWifiSave() || updateWifiLoading()"
                                [class.spinner]="updateWifiLoading()"
                                class="ml-auto" mat-button (click)="saveWifiDetails()" >Save
                        </button>
                    </div>
                </form>
            </app-card>
            <app-card appearance="raised" cardTitle="Opening Hours">
                <mat-slide-toggle (change)="updateOpeningHoursVisibility($event)" card-button [checked]="openingHoursVisible()"
                                  labelPosition="after">Visible</mat-slide-toggle>
                <form [formGroup]="openingHoursForm">
                    <div class="flex flex-col gap-6 " >
                        <div class="flex flex-col flex-wrap gap-4" >
                            <div class="text-lg">Monday - Friday</div>
                            <div class=" flex-shrink flex flex-row flex-wrap gap-4">
                                <mat-form-field >
                                    <mat-label>Open</mat-label>
                                    <input formControlName="monFriOpen" matInput [matTimepicker]="picker1">
                                    <mat-timepicker-toggle matIconSuffix [for]="picker1"/>
                                    
                                    <mat-timepicker #picker1/>
                                    @if(openingHoursForm.controls.monFriOpen.hasError('required')) {
                                        <mat-error>Required field</mat-error>
                                    }@else if (openingHoursForm.controls.monFriOpen.hasError('matTimepickerParse')) {
                                        <mat-error>Invalid time</mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field >
                                    <mat-label>Close</mat-label>
                                    <input formControlName="monFriClose" matInput [matTimepicker]="picker2">
                                    <mat-timepicker-toggle matIconSuffix [for]="picker2"/>
                                    <mat-timepicker #picker2/>
                                    @if(openingHoursForm.controls.monFriClose.hasError('required')) {
                                        <mat-error>Required field</mat-error>
                                    }@else if (openingHoursForm.controls.monFriClose.hasError('matTimepickerParse')) {
                                        <mat-error>Invalid time</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col  gap-4">
                            <div class="text-lg">Weekend</div>
                            <div class=" flex-shrink flex flex-row flex-wrap gap-4">
                                <mat-form-field >
                                    <mat-label>Open</mat-label>
                                    <input formControlName="weekendOpen" matInput [matTimepicker]="picker3">
                                    <mat-timepicker-toggle matIconSuffix [for]="picker3"/>
                                    <mat-timepicker #picker3/>
                                    @if(openingHoursForm.controls.weekendOpen.hasError('required')) {
                                        <mat-error>Required field</mat-error>
                                    } @else if (openingHoursForm.controls.weekendOpen.hasError('matTimepickerParse')) {
                                        <mat-error>Invalid time</mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field >
                                    <mat-label>Close</mat-label>
                                    <input formControlName="weekendClose" matInput [matTimepicker]="picker4">
                                    <mat-timepicker-toggle matIconSuffix [for]="picker4"/>
                                    <mat-timepicker #picker4/>
                                    @if(openingHoursForm.controls.weekendClose.hasError('required')) {
                                        <mat-error>Required field</mat-error>
                                    }@else if (openingHoursForm.controls.weekendClose.hasError('matTimepickerParse')) {
                                        <mat-error>Invalid time</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                    <div class="flex mt-4">
                        <button [disabled]="disabledOpeningHoursSave() || updateOpeningHoursLoading()"
                                [class.spinner]="updateOpeningHoursLoading()"
                                class="ml-auto" mat-button (click)="saveOpeningHoursDetails()" >Save
                        </button>
                    </div>
                </form>


            </app-card>


        </div>

        <div class="flex flex-col gap-6">


            <app-card appearance="raised" cardTitle="Contact Information">
                <mat-slide-toggle card-button [checked]="contactVisible()" (change)="updateContactVisibility($event)"
                                  [disabled]="" labelPosition="after">Visible</mat-slide-toggle>
                <form [formGroup]="contactForm">
                    <div  class="flex gap-4 flex-wrap">
                        <mat-form-field class="flex-grow max-w-96">
                            <mat-label>Phone Number</mat-label>
                            <input  type="text" formControlName="phoneNumber" matInput>

                        </mat-form-field >
                        <mat-form-field class=" flex-grow max-w-96">
                            <mat-label>Email</mat-label>
                            <input  type="text" formControlName="email" matInput>
                        </mat-form-field>


                    </div>


                    <div class="flex mt-4">
                        <button [disabled]="disabledContactSave() || updateContactLoading()"
                                [class.spinner]="updateContactLoading()"
                                class="ml-auto" mat-button (click)="saveContactDetails()" >Save
                        </button>
                    </div>
                </form>
            </app-card>
            <app-card appearance="raised" cardTitle="Address">
                <mat-slide-toggle card-button [checked]="addressVisible()" (change)="updateAddressVisibility($event)"
                                  [disabled]="" labelPosition="after">Visible
                </mat-slide-toggle>
                <form [formGroup]="addressForm">
                    <div class="w-full flex flex-col gap-4 max-w-lg">
                        <mat-form-field class=" flex-grow">
                            <mat-label>Street</mat-label>
                            <input  type="text" formControlName="street" matInput>
                        </mat-form-field>

                    </div>
                    <div  class="flex gap-4 flex-wrap">
                        <mat-form-field class="flex-grow max-w-96">
                            <mat-label>City</mat-label>
                            <input  type="text" formControlName="city" matInput>

                        </mat-form-field >
                        <mat-form-field class=" flex-grow max-w-96">
                            <mat-label>State</mat-label>
                            <input  type="text" formControlName="state" matInput>
                        </mat-form-field>


                    </div>
                    <mat-form-field class=" ">
                        <mat-label>Zip Code</mat-label>
                        <input  type="text" formControlName="zipCode" matInput>
                    </mat-form-field>


                    <div class="flex mt-4">
                        <button [disabled]="disabledAddressSave() || updateAddressLoading()"
                                [class.spinner]="updateAddressLoading()"
                                class="ml-auto" mat-button (click)="saveAddressDetails()" >Save
                        </button>
                    </div>
                </form>

            </app-card>

        </div>

    </div>
</div>

