
// Other Style Classes
.example-element-detail {
  display: flex;
  align-items: center;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid var(--mat-sys-on-surface);
  padding: 8px;
  font-weight: lighter;
  height: 120px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 0 16px 16px 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}