<!-- Toolbar -->
<app-toolbar featureName="Tabs Demo"></app-toolbar>

<!-- Tabs -->
<div class="w-full-minus-drawer fixed top-toolbar bg-surface z-2000">
    <nav [@fadeIn] [tabPanel]="tabPanel" fitInkBarToContent mat-align-tabs="start" mat-stretch-tabs="false"
         mat-tab-nav-bar>
        <a (click)="goTo('/tab-nav/page1', 'page1')"
           [active]="activeTab() === 'page1'"
           mat-tab-link
        >Page 1</a>
        <a (click)="goTo('/tab-nav/page2', 'page2')"
           [active]="activeTab() === 'page2'"
           mat-tab-link
        >Page 2</a>
        <a (click)="goTo('/tab-nav/page3', 'page3')"
           [active]="activeTab() === 'page3'"
           mat-tab-link
        >Page 3</a>
    </nav>
</div>

<!-- Tabs Content -->
<div class="pt-toolbar">
    <mat-tab-nav-panel #tabPanel>
        <div class="pt-tabs">
            <router-outlet></router-outlet>
        </div>
    </mat-tab-nav-panel>
</div>

