<h2 mat-dialog-title>Dialog Title</h2>
<mat-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque lorem, convallis sit amet bibendum a, pretium
    eu risus. Ut sed ante sit amet lorem sodales condimentum. Curabitur ac ipsum at tortor malesuada molestie sit amet
    quis mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vel auctor ex, eget feugiat nulla.
    Duis mi sem, dapibus a gravida nec, scelerisque ut arcu. Suspendisse nibh enim, dapibus quis venenatis at,
    pellentesque ac orci. Curabitur aliquam cursus nisi, et facilisis nisl sodales id. Nam dignissim enim risus, vel
    vehicula orci euismod sed.
    <br><br>
    Maecenas aliquet metus eu risus porttitor, nec dapibus mauris egestas. Vestibulum vel augue at lorem iaculis
    volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper sagittis ligula. Nam ut
    viverra est. Praesent ac volutpat magna. Curabitur eleifend maximus diam, nec scelerisque eros tempor at.
    Pellentesque quis dignissim risus, a tincidunt magna. Donec vehicula elementum velit in faucibus. Sed porttitor
    suscipit fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam
    erat volutpat. Vestibulum viverra mi sit amet ante egestas bibendum. In sagittis consequat nibh eu tempus. Mauris
    sem lectus, pretium vel lacus quis, efficitur cursus dui.
    <br><br>
    Morbi mollis et elit non ultrices. Nunc dapibus nisl sed mauris semper faucibus. Sed aliquam fermentum metus sed
    rhoncus. Duis finibus quam vel fermentum finibus. Etiam augue eros, gravida interdum ex tincidunt, dapibus hendrerit
    augue. Curabitur luctus sem finibus turpis finibus pellentesque sit amet quis ante. Pellentesque scelerisque, elit
    ut hendrerit tincidunt, neque lacus tristique enim, suscipit blandit massa mauris vel mi. Morbi elementum est eu
    sagittis accumsan. Donec rutrum posuere purus, a lobortis leo luctus eget. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Aliquam tempus sem eu semper accumsan.
    <br><br>
    Aenean dictum quam non efficitur dictum. Integer tincidunt sed dolor sed tristique. Donec molestie tincidunt
    placerat. In at eleifend urna. Sed sed bibendum nisl. Sed malesuada ante et mi auctor ullamcorper. Integer tortor
    orci, varius finibus augue nec, tincidunt imperdiet dui. Quisque accumsan augue a fringilla porta. Phasellus dolor
    diam, ultricies ut metus congue, porta consequat justo. Suspendisse malesuada tellus massa. Sed in bibendum ante.
    Fusce mattis, tortor ut pellentesque accumsan, quam dui vulputate tortor, ac imperdiet ipsum nibh nec enim.
    <br><br>
    Duis vulputate urna sit amet nulla dictum, ac mattis enim consequat. Sed ac eleifend quam. Aenean non vulputate
    quam. In hendrerit nibh eget tincidunt condimentum. Pellentesque dictum malesuada urna, id volutpat nibh feugiat
    vel. Aenean nec eleifend neque. Aliquam aliquam est purus, sit amet porta libero hendrerit sed.
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>No Thanks</button>
    <button (click)="onNoClick()" mat-button>Ok</button>
</mat-dialog-actions>
