.font-bebas-neue {
  font-family: 'Bebas Neue';
}
.font-dancing-script {
  font-family: 'Dancing Script';
}
.font-montserrat {
  font-family: 'Montserrat';
}

.font-lobster-two {
  font-family: 'Lobster Two';
}

.font-poppins {
  font-family: 'Poppins';
}

.font-playfair {
  font-family: 'Playfair';
}