<!-- Toolbar -->
<app-toolbar class="w-full-minus-drawer-sm" featureName="Basic">
    <ng-container *ngTemplateOutlet="tabs" toolbar-navigation>
    </ng-container>
    <ng-container *ngTemplateOutlet="tabs" toolbar-mobile-navigation>
    </ng-container>
</app-toolbar>

<!-- Tabs -->
<ng-template #tabs>
    <nav [tabPanel]="tabPanel" fitInkBarToContent mat-align-tabs="start"
         mat-stretch-tabs="true"
         mat-tab-nav-bar>
        <a (click)="goTo('/basic/form')"
           [active]=" 'form' |activeFeature"
           mat-tab-link
        >Form</a>
        <a (click)="goTo('/basic/components')"
           [active]="'components' |activeFeature"
           mat-tab-link
        >Components</a>
        <a (click)="goTo('/basic/ai')"
           [active]="'ai' |activeFeature"
           mat-tab-link
        >AI</a>
    </nav>
</ng-template>

<div class="pt-toolbar sidebar-content">
    <div class="pt-tabs-mobile">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>

