<div [@pageLoad] class="p-page responsive-page max-w-page">
    <div class="flex flex-col gap-6">
        <app-card appearance="raised" class="w-fit order-1" title="Buttons">
            <div class="flex flex flex-wrap gap-4">
                <!-- Overlays -->

                <app-reposition-overlay></app-reposition-overlay>
                <app-close-on-scroll-overlay></app-close-on-scroll-overlay>

                <!-- Loading Button -->

                <button (click)="startLoading()" [class.spinner]="loadingButton()"
                        [disabled]="loadingButton()"
                        mat-flat-button>Loading Button
                </button>
                <button class="bg-tertiary" mat-flat-button>Accent Button</button>

                <!-- Dialogs -->

                <div>
                    <button (click)="openDialog()" mat-button>Open Dialog</button>
                </div>
                <div>
                    <button (click)="openScrollDialog()" mat-button>Open Scroll Dialog</button>
                </div>
                <div>
                    <button (click)="openFullscreenDialog()" mat-button>Open Fullscreen Dialog</button>
                </div>
                <div>
                    <button (click)="openResponsiveDialog()" mat-button>Open Responsive Dialog</button>
                </div>

            </div>
        </app-card>
        <app-card appearance="raised" class="w-fit order-2 flex-grow-0" title="Images">
            <!-- Images -->
            <div class="flex flex-wrap gap-4 justify-start">
                <app-image [style.max-width]="'250px'" caption="Image from public/images" class="flex-grow"
                           fileUrl="images/cat1_5mb.jpeg"></app-image>
                <app-image [fileUrl]="firebaseFileUrl()" [style.max-width]="'250px'"
                           caption="Image from Firebase Storage"
                           class="flex-grow"></app-image>
                <!-- Image Upload -->
                <div>
                    <app-single-image-upload (uploadChange)="logImageUpload($event)"></app-single-image-upload>
                </div>
                <div>
                    <app-editable-image-main></app-editable-image-main>
                </div>
            </div>
        </app-card>
        <app-card appearance="raised" class="order-1" title="Files">
            <!-- File Download -->
            <button (click)="downloadFile()" [class.spinner]="loadingDownloadButton()"
                    [disabled]="loadingDownloadButton()"
                    mat-button>
                <mat-icon>download</mat-icon>
                Download File
            </button>
            <div class="mt-4">
                <app-file-upload (uploadChange)="logFileUpload($event)" appearance="button"></app-file-upload>
            </div>
            <!-- File Upload -->
            <div class="mt-4">
                <app-file-upload (uploadChange)="logFileUpload($event)"></app-file-upload>
            </div>
        </app-card>
    </div>
    <div class="flex flex-col gap-6">
        <app-card appearance="raised" class="w-fit" title="Drag-and-Drop Sorting">
            <!-- Drag-and-Drop Sorting -->
            <app-drag-and-drop-sorting (elementsOrdered)="elementsOrdered($event)" [elements]="dragAndDropElements"
                                       bgClass="bg-surface-container-lowest"></app-drag-and-drop-sorting>
        </app-card>
        <app-card appearance="raised" class="w-fit order-3" title="QR Code Generator">
            <app-qr-generator
                url="https://stackoverflow.com/questions/49989070/mattooltipclass-not-applying-css"></app-qr-generator>
        </app-card>
        <app-card appearance="raised" class="order-2" title="Copy to Clipboard">
            <button (click)="copyToClipboard()" [cdkCopyToClipboard]="copyToClipboardText" card-button class="ml-auto"
                    mat-icon-button
                    matTooltip="Copy to Clipboard">
                <mat-icon>content_copy</mat-icon>
            </button>
            <div class="whitespace-pre-line">
                {{ copyToClipboardText }}
            </div>
        </app-card>
    </div>
</div>