<div [@pageLoad] class="p-page flex flex-col gap-6">
    <div class="responsive-page">
        <div class="flex flex-wrap gap-6">
            <app-card appearance="raised" class="w-full max-w-5xl" cardTitle="Bar Chart">
                <app-bar-chart></app-bar-chart>
            </app-card>
            <app-card appearance="raised" class="w-full max-w-5xl" cardTitle="Line Chart">
                <app-line-chart></app-line-chart>
            </app-card>
        </div>
        <div class="flex flex-wrap gap-6">
            <app-card appearance="raised" class="w-full max-w-5xl" cardTitle="Horizontal Bar Chart">
                <app-horizontal-bar-chart></app-horizontal-bar-chart>
            </app-card>
            <app-card appearance="raised" class="w-full max-w-5xl" cardTitle="Bubble Chart">
                <app-bubble-chart></app-bubble-chart>
            </app-card>
        </div>
    </div>
    <div class="flex flex-wrap gap-6">
        <app-card appearance="raised" class="w-full max-w-lg" title="Donut Chart">
            <app-donut-chart></app-donut-chart>
        </app-card>
        <app-card appearance="raised" class="w-full max-w-lg" title="Pie Chart">
            <app-pie-chart></app-pie-chart>
        </app-card>
    </div>
</div>

