<h2 mat-dialog-title>Configure Email & Password</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="flex flex-col gap-4">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            @if (form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
            }
            @if (form.controls['email'].hasError('required')) {
                <mat-error>Email is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input [type]="(visiblePassword$ | async) ? 'text' : 'password'" formControlName="password" matInput />
            <button

                (click)="togglePasswordVisibility()"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="(visiblePassword$ | async)"
                mat-icon-button
                matSuffix
                type="button"
            >
                <mat-icon>{{ (visiblePassword$ | async) ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            @if (form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required')) {
                <mat-error>Needs to be at least 6 characters</mat-error>
            }
            @if (form.controls['password'].hasError('required')) {
                <mat-error>Password is required</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Cancel</button>
    <button (click)="submit()" [class.spinner]="loading$ | async" [disabled]="loading$ | async" mat-button>Configure
    </button>
</mat-dialog-actions>
