<app-toolbar class="w-full-minus-drawer-sm-drawer" featureName="Tabs">
    <ng-container *ngTemplateOutlet="tabs" toolbar-navigation>
    </ng-container>
    <ng-container *ngTemplateOutlet="tabs" toolbar-mobile-navigation>
    </ng-container>
    <div class="visible-over-1200px">
        <button class="mr-4" mat-stroked-button>
            <mat-icon>tab</mat-icon>
            Tabs Button 1
        </button>
        <button mat-stroked-button>
            <mat-icon>tab_move</mat-icon>
            Tabs Button 2
        </button>
    </div>
    <div class="visible-under-1200px">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <mat-menu #menu class="top-overlay">
        <button mat-menu-item>
            <mat-icon>tab</mat-icon>
            Tabs Button 1
        </button>
        <button mat-menu-item>
            <mat-icon>tab_move</mat-icon>
            Tabs Button 2
        </button>
    </mat-menu>
</app-toolbar>

<ng-template #tabs>
    <nav [@fadeIn] [tabPanel]="tabPanel" fitInkBarToContent mat-align-tabs="start"
         mat-stretch-tabs="true"
         mat-tab-nav-bar>
        <a (click)="goTo('/layout/tabs/page1')" [active]="'tabs-page-1' | activeFeature"
           mat-tab-link
        >Tabs Page 1</a>
        <a (click)="goTo('/layout/tabs/page2')"
           [active]="'tabs-page-2' | activeFeature"
           mat-tab-link
        >Tabs Page 2</a>
        <a (click)="goTo('/layout/tabs/page3')"
           [active]="'tabs-page-3' | activeFeature"
           mat-tab-link
        >Tabs Page 3</a>
    </nav>
</ng-template>


<mat-tab-nav-panel #tabPanel>
    <div class="pt-toolbar sidebar-content">
        <div class="pt-tabs-mobile">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-tab-nav-panel>




