<app-toolbar class="w-full-minus-drawer-sm " featureName="Analytics">
    <ng-container *ngTemplateOutlet="tabs" toolbar-navigation>
    </ng-container>
    <ng-container *ngTemplateOutlet="tabs" toolbar-mobile-navigation>
    </ng-container>
</app-toolbar>

<ng-template #tabs>
    <nav [tabPanel]="tabPanel" fitInkBarToContent mat-align-tabs="start" mat-stretch-tabs="true"
         mat-tab-nav-bar>
        <a (click)="goTo('/analytics/basic')"
           [active]="'analytics-basic' | activeFeature"
           mat-tab-link
        >Basic</a>
        <a (click)="goTo('/analytics/advanced')"
           [active]="'advanced' | activeFeature"
           mat-tab-link
        >Advanced</a>
    </nav>
</ng-template>


<div class="pt-toolbar sidebar-content">
    <div class="pt-tabs-mobile">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>

