<app-right-sidebar class="visible-desktop">
    <div class=" w-full h-full flex  items-center justify-center">
        <app-phone #phone url="https://www.wikipedia.org">
        </app-phone>
    </div>


</app-right-sidebar>

<app-toolbar class="w-full-minus-drawer-sm-drawer" featureName="Mobile Preview"></app-toolbar>
<div [@pageLoad] class="pt-toolbar sidebar-content">
    <div class="pr-sidebar">
        <div class="p-page  flex flex-col gap-6">
            <div class="visible-mobile">
                <button (click)="openMobilePreviewDialog()" mat-stroked-button>
                    <mat-icon>phone_iphone</mat-icon>
                    See Mobile Preview
                </button>
            </div>
            <div class="visible-desktop">
                <button (click)="reloadPhone()" mat-stroked-button>
                    <mat-icon>refresh</mat-icon>
                    Reload Phone
                </button>
            </div>
            <div class="">
                Sed hendrerit blandit ante, sed ornare tortor blandit vel. Praesent a enim suscipit augue ultricies
                euismod
                vitae eget urna. Donec ipsum turpis, suscipit in maximus ut, cursus ut enim. Maecenas at odio leo.
                Suspendisse
                sodales laoreet nibh, nec rhoncus nisl lobortis eu. Nulla mattis a sem condimentum ultrices. Nullam
                rhoncus
                porta mi vitae ullamcorper. Etiam varius ligula scelerisque urna rutrum, quis tincidunt diam sodales.
                Phasellus
                vulputate vestibulum mauris, ac vehicula ex tincidunt non. Donec vestibulum dolor sed dictum malesuada.
                Sed
                ac
                sapien lacinia, vulputate ex non, aliquam ante. Duis a ante a turpis pulvinar ultricies.
                <br><br>
                Aenean sodales congue eros viverra pretium. Proin finibus pulvinar condimentum. Aliquam erat volutpat.
                Integer
                sed massa enim. Nullam nulla ex, venenatis sed nisi id, lobortis volutpat mi. Mauris vel euismod nisl,
                at
                pellentesque purus. Curabitur quam neque, pharetra at augue sed, ornare pellentesque diam. Maecenas
                ultrices
                ligula ipsum, non euismod ante placerat in. Nam porta pulvinar nunc, quis laoreet tellus sollicitudin
                vel.
                Vestibulum consequat, arcu eget ultrices blandit, lorem elit tempor dui, non pulvinar ligula enim sed
                lacus.
                Pellentesque convallis placerat mauris nec porttitor. Donec laoreet orci in enim aliquam, eget interdum
                purus
                venenatis. Nam tellus nunc, condimentum tempus nisl nec, pretium vestibulum dui. Maecenas nec fermentum
                felis,
                nec tincidunt leo. Duis eros sapien, pretium eu odio sed, viverra euismod neque.
                <br><br>
                Praesent nulla leo, laoreet nec lectus a, ultrices sodales nibh. Sed imperdiet elementum semper. Vivamus
                porttitor imperdiet massa quis tristique. Sed pretium, dolor vitae sodales auctor, quam libero porta
                ante,
                vitae
                ultricies arcu dolor vel nisl. Proin in lacus eleifend, interdum odio id, consectetur elit. In orci dui,
                vestibulum vitae aliquam id, molestie sit amet enim. Quisque nulla lacus, malesuada vitae sollicitudin
                in,
                scelerisque eget nisi. Ut eget ipsum sapien. Sed lacinia metus sed leo laoreet, eget vestibulum elit
                aliquet.
                Nullam quis mattis mi, vel sollicitudin lectus. Nullam egestas elementum ipsum, non mattis magna
                dignissim
                eget.
                Nam cursus feugiat magna, id tempus nulla fermentum in. Proin vitae orci sem. Class aptent taciti
                sociosqu
                ad
                litora torquent per conubia nostra, per inceptos himenaeos.
                <br><br>
                Sed pulvinar ipsum pharetra, fermentum enim id, dapibus elit. Nulla vehicula, turpis eget laoreet
                sollicitudin,
                nibh quam molestie nisi, ut cursus mi mi vel est. Etiam tempor velit massa, at consequat dolor suscipit
                in.
                Vivamus molestie purus tellus, interdum aliquet orci gravida tristique. Vestibulum aliquam maximus
                ultricies.
                Quisque hendrerit nulla enim, et cursus sem tempor sit amet. Vivamus consequat sit amet risus sit amet
                sodales.
                Sed dictum at augue vitae pharetra. Pellentesque fermentum tellus diam, suscipit maximus quam finibus
                non.
                Aenean ut mi lacus. Morbi tincidunt arcu id enim imperdiet iaculis.
            </div>

        </div>
    </div>

</div>


