<app-fullscreen-dialog-content (close)="closeDialog()">
    <!-- Content -->
    <div class="max-w-xl m-auto flex flex-col">
        <div class="text-2xl">Dialog title</div>
        <div class="pt-4 pb-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque lorem, convallis
            sit amet bibendum a, pretium eu risus. Ut sed ante sit amet lorem sodales condimentum. Curabitur ac ipsum at
            tortor malesuada molestie sit amet quis mauris. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Aenean vel auctor ex, eget feugiat nulla. Duis mi sem, dapibus a gravida nec, scelerisque ut arcu.
            Suspendisse nibh enim, dapibus quis venenatis at, pellentesque ac orci. Curabitur aliquam cursus nisi, et
            facilisis nisl sodales id. Nam dignissim enim risus, vel vehicula orci euismod sed.
            <br><br>
            Maecenas aliquet metus eu risus porttitor, nec dapibus mauris egestas. Vestibulum vel augue at lorem iaculis
            volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper sagittis ligula.
            Nam ut viverra est. Praesent ac volutpat magna. Curabitur eleifend maximus diam, nec scelerisque eros tempor
            at. Pellentesque quis dignissim risus, a tincidunt magna. Donec vehicula elementum velit in faucibus. Sed
            porttitor suscipit fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia curae; Aliquam erat volutpat. Vestibulum viverra mi sit amet ante egestas bibendum. In sagittis
            consequat nibh eu tempus. Mauris sem lectus, pretium vel lacus quis, efficitur cursus dui.
            <br><br>
            Morbi mollis et elit non ultrices. NÏunc dapibus nisl sed mauris semper faucibus. Sed aliquam fermentum
            metus sed rhoncus. Duis finibus quam vel fermentum finibus. Etiam augue eros, gravida interdum ex tincidunt,
            dapibus hendrerit augue. Curabitur luctus sem finibus turpis finibus pellentesque sit amet quis ante.
            Pellentesque scelerisque, elit ut hendrerit tincidunt, neque lacus tristique enim, suscipit blandit massa
            mauris vel mi. Morbi elementum est eu sagittis accumsan. Donec rutrum posuere purus, a lobortis leo luctus
            eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam tempus
            sem eu semper accumsan.
        </div>
    </div>
    <!-- Buttons -->
    <div class="max-w-xl m-auto flex flex-col">
        <div class="ml-auto">
            <button (click)="closeDialog()" class="mr-2" mat-button>No Thanks</button>
            <button (click)="closeDialog()" mat-button>Ok</button>
        </div>
    </div>
</app-fullscreen-dialog-content>